body {
    background: #fcdbfcd0;
    font-family: 'Ms Madi', cursive;
}

.pasta-code {
    padding: 40px;
}

.atencao {
    font-size: 25px;
    margin-left: 70px;
}

    #texto-principal {
    margin-left: 80px;
    background: #e7c9de;
    box-shadow: 15px 15px;
}

.button-codificar {
    background: #e7c9de;
    position: relative;
    top: 50px;
    right:600px;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

.button-codificar:active {
    padding: 10px 40px 10px 40px;
}

.button-decodificador {
    background: #e7c9de;
    position: relative;
    top: 50px;
    right: 500px;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

.button-decodificador:active {
    padding: 10px 40px 10px 40px;
}

#texto-secundario {
    position: relative;
    left: 800px;
    bottom: 400px;
    background: #e7c9de;
    box-shadow: 15px 15px;
}

.button-copiar {
    position: relative;
    bottom: 350px;
    left: 500px;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
    background: #e7c9de;
    box-shadow: 5px 5px;
}

.button-copiar:active {
    padding: 10px 40px 10px 40px;
}

.rodape {
    background: #e7c9de;
    text-align: center;
    position: relative;
    bottom: 200px;
}

.criacao {
    font-size: 25px;
}

@media screen and (max-width:420px) {
    canvas {
        margin: 0 auto;
        width: 90vw;
    }

    #texto-principal {
        position: relative;
        width: 90%;
        right: 60px;
    }

    .button-codificar {
        position: relative;
        padding: 15px 20px 15px 20px;
        top: 20px;
        left: 40px;
    }
    .button-decodificador {
        position: relative;
        padding: 15px 20px 15px 20px;
        top: 20px;
        left: 70px;
    }
    
    #texto-secundario {
        position: static;
        width: 90%;
        margin-top: 35px;
    }
    .button-copiar {
        position: relative;
        padding: 15px 20px 15px 20px;
        top: 60px;
        left: 0;
        
    }

    .rodape {
        position: relative;
        top: 20vw;
    }

    .criacao {
        font-size: 1.50em;
        text-align: center;
        margin: auto;
    }
}